<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{ cart }}</p>
        <h1>{{ product }}</h1>
        <h3>{{ title }}</h3>
        <img :src="image">
        <p v-if="inventory > 10">Instock</p>
        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
        <p v-else>Sold Out</p>
        <button @click="addToCart">Add to cart</button>
        <p v-else>Sold Out</p>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <div class="color-circle" :style="{ backgroundColor: variant.color }" v-for="(variant, index) in variants" @mouseover="updateVariant(index)" :key="variant.id"></div>
    </div>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
      <script type="module" src="script.js"></script>
      
    
</body>
</html>